@media only screen and (orientation: landscape) {
  header {
    height: 40%;
  }
  #headerText {
    font-size: clamp(1.5rem,  2.1vw, 3rem);
  }
  .contentBtn {
    font-size: clamp(1.4rem, 2vw, 2.8rem);
  }
  .headerBtn {
    font-size: clamp(1.3rem, 1.8vw, 2.6rem);
  }
  #AppContent {
    position: relative;
    height: 60%;
    width: 100vw;
  }
  #headerCenter {
    margin-top: 1rem;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }
  #dateBox {
    font-size: clamp(1.5rem,  2.1vw, 3rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .scrollmenu div {
    font-size: clamp(1.3rem,  1.8vw, 2.5rem);
  }
  #headerLogoBox {
    top: 0;
    left: 0;
    margin: 1rem;
    width: 12%;
  }
  #headerGameBox {
    position: absolute;
    top: -3%;
    left: 16%;
    width: 12%;
  }
  #selectVenue {
    position: absolute;
    height: 100%;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
  }
  .logoBox {
    width: 14.8%;
  }
  .tables {
    width: 20%;
  }
  #calendarInnerBox {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
  }
  #calendar {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #monthDays {
    margin: 0;
    padding: 0;
    height: 80%;
    width: 100%;
  }
  #monthDays div {
    border: 1px solid gray;
    height: 13.4%;
  }
  #preTimeBox {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    overflow: auto;
    gap: 1rem;
    font-size: clamp(1.3rem, 1.8vw, 2.6rem);
  }
  .finalDate {
    font-size: clamp(1.5rem,  2.1vw, 3rem);
    top: 50%;
    left: 50%;
  }
  #timeBox {
    font-size: clamp(1.5rem,  1.9vw, 3rem);
    position: absolute;
    flex-direction: row;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
  }
  .dates {
    font-size: clamp(1rem, 3 * 0.5vw, 1.2rem);
  }
  .calNav {
    font-size: clamp(1rem, 3 * 0.5vw, 1.2rem);
  }
  #monthDays div,
  #weekDays div {
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
  #weekDays {
    padding: 0.4rem 0;
  }
  .finalDate {
    top: 40%;
  }
  #timeBox {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    overflow: auto;
    gap: 1rem;
  }
  #calendarBtnBox button {
    font-size: clamp(1rem, 2vw, 1.2rem);
    padding: 0.5rem 1rem;
    width: 10%;
  }
}