@media (orientation: portrait) {
  header {
    aspect-ratio: 100/40;
  }
  .headerCenter,
  .headerCenterUp {
    top: 50%;
  }
  #headerLogoBox {
    width: 20%;
    left: 5%;
  }
  .headerLogoBoxCenter {
    top: 50%;
  }
  .headerLogoBoxUp {
    top: 30%;
  }
  #selectVenue {
    height: 60vh;
  }
  .logoBox {
    width: 30%;
  }
  #tableBox {
    margin-top: 3rem;
  }
  .tables {
    width: 30%;
  }
  #headerGameBox {
    top: 70%;
    left: 5%;
    width: 20%;
  }
  #calendarInnerBox {
    position: relative;
    margin: auto;
    width: 90%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }
  #monthDays div {
    aspect-ratio: 1/1;
  }
  #preTimeBox {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    right: 0;
    max-height: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
  #timeBox {
    position: absolute;
    flex-direction: row;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
  }
  #selectADate {
    width: 100%;
    height: 70%;
  }
}