html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  user-select: none;
}
img {
  border-style: none;
  vertical-align: middle;
}
img {
  max-inline-size: 100%;
  block-size: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center;
}
#header {
  position: relative;
}
#headerText {
  font-size: clamp(1rem, 1vw + 0.75rem, 2rem);
  font-weight: 800;
  border: 1px solid black;
  text-shadow: 1px 1px black;
  background: #008a00;
  color: #fff;
  padding: 0.5rem;
  margin: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}
.logoBox {
  box-shadow: 9px 9px 13px gray;
}
.logoBox:hover {
  opacity: 0.6;
  box-shadow: none;
}
#headerGameBox {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0%, -50%);
  aspect-ratio: 530/350;
  width: 10%;
}
#headerLogo {
  width: 100%;
  height: auto;
}
#buttonBox {
  padding-top: 1rem;
}
.headerBorder {
  border: 1px solid black;
}
#signInBtn,
#mapLocation,
#exit {
  background: #008a00;
  display: block;
  color: #fff;
  margin: auto;
  font-size: clamp(1rem, 1vw + 0.8rem, 2rem);
  font-weight: 700;
  text-shadow: 1px 1px black;
  box-shadow: 7px 7px 13px black;
  width: 90%;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}
#headerConfirm,
#back,
#backMapBtn,
#continue,
#confirm {
  text-align: center;
  border-radius: 7px;
  text-shadow: 1px 1px black;
  background: #008a00;
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: clamp(1rem, 1vw + 0.6rem, 1.2rem);
  box-shadow: 7px 7px 13px black;
  padding: 0.5rem 1rem;
}
#signInBtn:hover,
#exit:hover,
#headerConfirm:hover,
#mapLocation:hover {
  opacity: 0.8;
}
#confirm:hover {
  opacity: 0.8;
}
.opacity {
  opacity: 0.6;
  font-weight: 300;
  font-size: 14px;
}
.today {
  font-weight: 900;
  font-size: 18px;
  text-shadow: 1px 1px black;
}
.dateClick {
  font-size: 19px;
  font-weight: 800;
  text-shadow: 1px 1px black;
  outline: 1px solid black;
  color: #fff;
  background-color: #3e65ff;
}
.calNav {
  font-size: 18px;
  border-radius: 7px;
}
.calNav:disabled {
  background-color: gray;
  opacity: 0.5;
  box-shadow: none;
}
.booked {
  font-weight: 700;
  text-shadow: 1px 1px black;
}
#headerCenter {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  border: none;
  cursor: pointer;
}
#selectVenue {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}
.logo {
  width: 100px;
  height: auto;
}
#venueDetails {
  height: 50%;
}
#tableBox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.tables {
  aspect-ratio: 1.5/1;
  width: 20%;
}
.tables:hover {
  opacity: 0.8;
}
#googleMap {
  margin: 1rem;
  display: block;
  text-align: center;
}
.dart {
  display: flex;
  align-items: center;
  justify-content: center;
}
#mapBox {
  position: relative;
  top: 0;
  left: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
}
#backMapBtn {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
}
#backMapBtn:hover,
#back:hover,
#continue:hover {
  opacity: 0.8;
}
#calender {
  padding: 0 1rem;
  margin: 0 1rem;
}
#weekDays,
#monthDays {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  align-content: center;
}

#monthDays div,
#weekDays div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28%;
  font-weight: 700;
  aspect-ratio: 1/1;
}
#weekDays div {
  aspect-ratio: 1/0.5;
}
#monthDays div {
  border: 1px solid lightgray;
  aspect-ratio: 1/1;
}
#monthDays {
  width: 100%;
}
.noBorder {
  visibility: hidden;
}
/*.hover-light-green:hover {
  color: #000 !important;
  background-color: #8bc34a !important;
}*/
#calendarBtnBox {
  position: absolute;
  text-shadow: 1px 1px black;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#calendarBtnBox button {
  width: 45%;
}
.x-emerald {
  color: #fff;
  background-color: #008a00;
}
.x-blue {
  color: #fff;
  background-color: #3e65ff;
}
.red {
  color: #fff;
  background-color: #e51400;
}
.x-olive {
  color: #fff;
  background-color: #6d8764;
}
button:disabled {
  opacity: 0.7;
}
#dateBox {
  position: absolute;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 700;
  margin: 0.5rem;
  font-size: clamp(1rem, 1vw + 0.75rem, 2rem);
  background: #3e65ff;
  text-shadow: 1px 1px black;
  color: white;
}
.scrollmenu {
  padding: 10px 0;
  position: relative;
  overflow: auto;
  white-space: nowrap;
}
.scrollmenu div {
  width: auto;
  height: 200%;
  display: inline-block;
}
.sliderImgBox {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid black;
}