* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  margin: 0;
  user-select: none;
}
#view {
  height: 100vh;
}
img {
  border-style: none;
  vertical-align: middle;
}
header {
  position: relative;
  background: #008a00;
  width: 100%;
}
#headerText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-shadow: 1px 1px black;
  background: #008a00;
  color: #fff;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}
#buttonBox {
  padding-top: 1rem;
}
.contentBtn {
  background: #008a00;
  display: block;
  color: #fff;
  margin: auto;
  font-weight: 700;
  text-shadow: 1px 1px black;
  width: 90%;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}
.headerBtn {
  text-shadow: 1px 1px black;
  background: #008a00;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border: 1px solid black;
}
#headerLogoBox {
  position: absolute;
  aspect-ratio: 530/350;
}
#headerCenter {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#tableBox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.tables {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}
#headerGameBox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  aspect-ratio: 1/1;
}
#selectVenue {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  display: flex;
}
.logoBox {
  aspect-ratio: 530/350;
  box-shadow: 9px 9px 13px gray;
}
.logoBox:hover {
  opacity: 0.6;
  box-shadow: none;
}
.headerBorder {
  border: 1px solid black;
}
#mapBox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
#backMapBtn {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
}
#calendarBtnBox {
  position: absolute;
  text-shadow: 1px 1px black;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#calender {
  padding: 0 1rem;
  margin: 0 1rem;
}
#calendarBtnBox button {
  font-weight: 900;
  border: none;
}
#weekDays,
#monthDays {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  align-content: center;
}
#weekDays {
  font-weight: 700;
  text-shadow: 1px 1px black;
  background: #3e65ff;
  color: #fff;
  border-bottom: 1px solid black;
}
#monthDays div,
#weekDays div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14.28%;
}
#weekDays div {
  font-weight: 700;
}
#monthDays {
  width: 100%;
}
.today {
  text-shadow: 1px 1px black;
  background: #008a00;
  color: white;
}
.dateClick {
  font-weight: 800;
  text-shadow: 1px 1px black;
  color: #fff;
  background-color: #3e65ff;
}
.noBorder {
  visibility: hidden;
}
.calNav:disabled {
  background: lightblue;
  opacity: 0.7;
  box-shadow: none;
}
.finalDate {
  position: absolute;
  transform: translate(-50%, -50%);
  font-weight: 800;
  width: auto;
  color: #fff;
  text-shadow: 1px 1px black;
  padding: 0.5rem 1rem;
  background: #008a00;
  border: 1px solid black;
}
.timeBox,
.timeSelected {
  width: auto;
  color: #fff;
  background: #008a00;
  font-weight: 800;
  border: 1px solid black;
  text-shadow: 1px 1px black;
  padding: 0.5rem 1rem;
}
.timeSelected {
  background: #3e65ff;
}
#timeBox,
#preTimeBox {
  display: flex;
  align-items: center;
  overflow: auto;
  gap: 1rem;
}
#timeBox {
  max-width: 30%;
}
.booked {
  font-weight: 700;
  text-shadow: 1px 1px black;
  color: #fff;
  background: #008a00;
}
.x-emerald {
  color: #fff;
  background: #008a00;
}
.x-blue {
  color: #fff;
  background: #3e65ff;
}
#dateBox {
  position: absolute;
  padding: 0.5rem 1rem;
  font-weight: 700;
  color: white;
}
.dateBox {
  background: #3e65ff;
  text-shadow: 3px 3px 5px black;
  border: 1px solid black;
}
.scrollmenu {
  padding: 10px 0;
  position: relative;
  overflow: auto;
  white-space: nowrap;
}
.scrollmenu div {
  width: auto;
  height: 200%;
  display: inline-block;
}
.sliderImgBox {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  font-weight: 700;
  border: 1px solid black;
}
.passedDate {
  background: lightblue;
  opacity: 0.7;
}